*{
    margin: 0;
    padding: 0;
}
#container {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    text-decoration: none;
}
header {
    background: lightgray url("../images/logo.jpg") no-repeat;
    height: 420px;
    background-size: 44%;
    background-position: center;
}
#content {
    box-sizing: border-box;
    width: 40%;
    height: 300px;
    margin: 0 auto;
}
/* header */
a {text-decoration: none; color: black;}
span {margin: 5px;}
span > a {color: white;}
span h1 {padding-top: 5px; padding-left: 15px; }
div > span {float: left;}

/* footer */
.profile {padding-top: 100px; clear: both; text-align: center; display: flex; justify-content: center; font-size: small; background: url("../images/footerlogo.png") no-repeat center;}
.profile p {margin-right: 10px;}
.profile p span {color: rosybrown;}
.profile a {margin-left: 10px; font-weight: bold;}